.contactInfo_container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 50px 20px;
    color: rgb(50, 50, 50);
}

.horizontal-box-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 2vmin;
    line-height: 50px;
    overflow-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
}

.vertical-box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 5px;
    border-radius: 8px;
    height: 100%;
    cursor: pointer;
}

.contactIcon_style {
    height: 40%;
    width: 100%;
    color: rgb(50, 50, 50);
    padding-bottom: 20px;
}

/* === Responsive === */
@media only screen and (max-width: 750px) {
    .contactInfo_container {
        height: 75vh;
    }

    .horizontal-box-icon {
        flex-direction: column;
        height: 33%;
    }
}
